@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Jost", sans-serif;
}
.main_sec{
    background-image: url(/img/slider-bg.jpg);
    background-size: cover;
    .inner_text{
        font-size: 160px;
        .sub-heading{
            font-size: 30px;
            line-height: 1.3;
            letter-spacing: 7px;
            font-weight: bold;
        }
        .stylist_text{
            -webkit-text-stroke: 2px #fff;
            -webkit-text-fill-color: transparent;
        }
    }
}
html{
    height: 100%;
}